
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Forçar HTTPS
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # Ignorar a pasta da API para que o PHP processe as requisições
  RewriteCond %{REQUEST_URI} ^/api/.*$
  RewriteRule ^api/(.*)$ api/$1 [L]

  # Redirecionar todas as outras requisições para o index.html (React)
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>
